<div class="banner" style="position:relative; width:100%; height:100%; color:white; text-align:center">
  <img style="max-width:100%;max-width:100vw;max-height:100vh;height:50%;" src="book3.jpg" alt="books">
  <div class="search-bar" style="position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);width:100%;">
    <div style="width:100%;">
      <h1 class="font-italic font-weight-light mb-3">BookFinder</h1>
      <div class="d-flex justify-content-center">
        <form action="/searchBooks" class="d-flex my-2 my-lg-0">
          <input class="form-control mr-sm-1 ml-0 w-70" style="width:30vw;" name="keyword" type="text"
            placeholder="請輸入關鍵字..." aria-label="Search" required>
          <select name='order' class="form-control mr-2" style="width:13vw;">
            <option selected value="">依精準度排序</option>
            <option {{#ifCond order "priceD" }}selected{{/ifCond}} value="priceD">依價錢(高到低)</option>
            <option {{#ifCond order "priceA" }}selected{{/ifCond}} value="priceA">依價錢(低到高)</option>
          </select>
          <button class="btn btn-light my-2 my-sm-0 mr-1" type="submit"><i class="fas fa-search px-3"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>